@use 'partial';

//Generel styling
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: partial.$font;
    background-color: partial.$bg-color;

        p{
            font-size: 16px;
            color: partial.$txt-color;
            line-height: 1.5;
        }

        h1, h2, h3, h4, h5, h6{
            font-weight: 600;
            color: partial.$txt-color;
        }
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
}


//navigation 

header {
    grid-column: 1/6;
   @include partial.flex($justify: space-between); 
   background-color: partial.$nav-color;
   border-bottom: solid 4px partial.$primary-color;
}

nav{
    height: 4em;
    padding: 1em;
    @include partial.flex ($justify:space-between);

        img{
            width: 70px;
        }

        ul {
            list-style-type: none;
            @include partial.flex;
        }

        a {
            color: partial.$txt-color;
            padding: partial.$padding;
            margin: partial.$padding;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover {
            color: partial.$primary-color;
        }

     



}